.todo-list {
  background: white;
  width: 512px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); /* 그림자 */
  margin: 0 auto; /* 페이지 중앙 정렬 */
  margin-top: 4rem;
}

.title {
  padding: 1rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
  background: #000;
  color: white;
}

.form-section {
  padding: 1rem;
  border-bottom: 1px solid #ff9409;
}

.list-section {
  min-height: 5rem;
}
.list-item {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
  color: #999;
}

.MuiListItem-secondaryAction {
  border-bottom: 1px solid #e2e5e8;
}

.input {
  border: 1px solid #e2e5e8;
}
